# History Of the Riches

## Details about the DataSet

* The name of the data set is Billionaires. (Raw Csv format)
* The data set is obtained from CORGIS: The Collection of Really Great, Interesting, Situated Datasets and was compiled by Ryan Whitcomb on 5-17-16
* The daset comprises of the data of super-rich. Building off the Forbes World’s Billionaires lists from 1996-2014, scholars at Peterson Institute for International Economics have added a couple dozen more variables about each billionaire - including whether they were self-made or inherited their wealth. The datset can be downloaded from https://think.cs.vt.edu/corgis/csv/billionaires/
* The copyright belongs to - © 2020 CORGIS Datasets Project. Project by Austin Cory Bart, Dennis Kafura, Clifford A. Shaffer, Javier Tibau, Luke Gusukuma, Eli Tilevich. The dataset is public and can be downloaded and used for personal projects.
* The file is of 594 KB and can be easily downloaded. There are 2614 rows and 22 Columns in the file.

## Characteristics of the dataset

* The dataset consists of the billionare list from the year 1975 to 2012. It comprises of the ranking they have on the forbes list and on which year they accquired this ranking. The year suggests when this data was collected. There are 0 values in this column which needs to be replaced by nan value.
* There are 22 columns in th dataset with various data type as int64, object, bool, and float64.
* The data is very simple in nature and needs basic cleaning like log values, null values and group by to achieve substantial relationship between the columns.
* In this data I wish to define some of the following things:
    1. Distribution of wealth by type of billionaire, advanced economies
    2. Inherited wealth distribution by generation for a specific year or year range
    3. Distribution of billionaires by type and advanced economies
    4. Distribution of billionaires by source of wealth i.e they are self-made or they are inherited.

In [1]:
%matplotlib inline
import warnings
import matplotlib as mpl
import matplotlib.colors as mpl_colors
import matplotlib.pyplot as plt
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import ipywidgets

Bad key "text.kerning_factor" on line 4 in
C:\Users\npali\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution

In [2]:
billionaires = pd.read_csv("billionaires.csv") # read the csv file

In [3]:
billionaires.shape # This gives the number of rows and columns in the dataset

(2614, 22)

In [4]:
billionaires.head() # Displayes the first 5 rows of the dataset

,name,rank,year,company.founded,company.name,company.relationship,company.sector,company.type,demographics.age,demographics.gender,...,location.gdp,location.region,wealth.type,wealth.worth in billions,wealth.how.category,wealth.how.from emerging,wealth.how.industry,wealth.how.inherited,wealth.how.was founder,wealth.how.was political
0,Bill Gates,1,1996,1975,Microsoft,founder,Software,new,40,male,...,8.100000e+12,North America,founder non-finance,18.5,New Sectors,True,Technology-Computer,not inherited,True,True
1,Bill Gates,1,2001,1975,Microsoft,founder,Software,new,45,male,...,1.060000e+13,North America,founder non-finance,58.7,New Sectors,True,Technology-Computer,not inherited,True,True
2,Bill Gates,1,2014,1975,Microsoft,founder,Software,new,58,male,...,0.000000e+00,North America,founder non-finance,76.0,New Sectors,True,Technology-Computer,not inherited,True,True
3,Warren Buffett,2,1996,1962,Berkshire Hathaway,founder,Finance,new,65,male,...,8.100000e+12,North America,founder non-finance,15.0,Traded Sectors,True,Consumer,not inherited,True,True
4,Warren Buffett,2,2001,1962,Berkshire Hathaway,founder,Finance,new,70,male,...,1.060000e+13,North America,founder non-finance,32.3,Traded Sectors,True,Consumer,not inherited,True,True

In [5]:
billionaires["company.name"].nunique() # How many comapnies are there in the dataset

1577

In [6]:
billionaires["company.sector"].unique() # How many company sectors are there in the dataset

array([' Software', ' Finance', ' Communications', 'pharmaceuticals',
       'technology', 'Fashion', 'real estate', ' software',
       'banking and insurance', 'groceries',
       'construction/real estate/banking', '  Oil refining',
       ' Oil refining', 'retail', ' retail', ' casinos', 'food packaging',
       'cars', 'cosmetics', nan, ' fashion', 'media', 'luxury goods',
       'oil, railroad, investments', ' finance', 'cigarettes',
       'furniture', ' technology', 'oil', 'chocolates', 'banking',
       'commodities (sugar, cement flour)', 'computer services',
       'investment (via holding company)', 'apparel', 'hedge funds',
       'mail order retail', 'construction, hotels, gaming', 'finance',
       'investment banking', 'metals, paper, cement', 'candy',
       'investment banking/beer', 'electronics', 'oil infrastructure',
       'glasses', 'aluminum, oil', 'brewery', 'metals', 'textiles',
       'software', 'chemicals', 'coal', 'consumer goods', 'mining',
       'venture capitalist', 'brokerage/banking', 'construction', 'steel',
       'oilfield services', 'construction/insurance', 'consumer loans',
       'energy, retail, manufacturing', 'fashion', 'hotels', 'gas',
       'holding company', 'oil trading', 'construction/real estate',
       'copper', 'credit cards', 'timber', 'banking/insurance',
       'shipping', 'roller bearings', 'petrochemicals', 'aviation',
       'coffee', 'oil tankers', 'insurance', 'internet',
       'financial services', 'beer', 'diamonds', 'e-commerce',
       'publishing', 'cleaning supplies', 'rental cars',
       'data processing', 'private investment company',
       'industrial manufacturing and banking', 'casinos', 'food', 'jeans',
       'beverages', 'diversified investments', 'aluminum', 'cruises',
       'automotive parts', 'food distribution', 'toys', 'oil and gas',
       'makeup', 'printers', 'investment', 'cigarette',
       'textiles, industrial goods, media', 'real estate/banking',
       'precious metals', 'luxury fashion', 'medical technology',
       'transportation', 'finance ', 'agricultural products', 'liquor',
       'cell phones', 'watches', 'screws', 'energy',
       'industrial automation', 'logging', 'media, exports', 'healthcare',
       'private equity', 'construcion', 'entertainment', 'utilities',
       'home improvement retail', 'golf courses', 'staffing services',
       'travel company', 'Banking', 'clothing ', 'HR consulting',
       'auto dealerships', 'alcohol', 'asset management',
       'aerospace and defense', 'gum', 'cans', 'fertilizer',
       'stock brokerage', 'tires', 'Star Wars', 'telecommunications',
       'airport maintenance', 'trade investment', 'trading company',
       'video games', 'clothing', 'cement', 'internet service provider',
       'small-company lending', 'commodities (wheat, oil, shipping)',
       'chocolate and coffee', 'aircraft leasing', 'cheese',
       'advertising', 'tobacco/luxury brands', 'tobacco', 'mutal funds',
       'hardware stores', 'restaurants', 'mobile phones', 'racing',
       'paper manufacturing/investment', 'comodities', 'autos',
       'brake systems', 'gaming', 'appliances', 'semiconductors',
       'pet supplies, real estate', 'manufacturing',
       'property development', 'auto engines', 'glass', 'mobile app',
       'medical supplies', 'shopping centers', 'waste management',
       'zippers', 'soup', 'natural gas', 'movies', 'automobiles',
       'hospitals', 'timber and paper', 'money management',
       'fiber optic cables', 'technology publishing', 'data storage',
       'movie theatres', 'computers', 'telecomm', 'pachinko',
       'pachinko gaming machines', 'industrial goods',
       'printing and electronics', 'technology consulting',
       'medical devices', 'real estate/sports teams', 'armaments',
       'agribusiness', 'sporting goods', 'postal service, beverages',
       'tools', 'construction, utilities', 'electricity', 'cork',
       'industrial tools', 'iron ore', 'metals/banking', 'plastics',
       'payroll processing', 'greeting cards', 'supermarkets',
       'electric motors', 'uniforms', 'food processing/commodities',
       'utilities/financial services', 'airplanes', 'leveraged buyouts',
       'currency trading', 'agriculture', 'banking, media', 'pet food',
       'apparel and eyewear', 'wine', 'food processing', 'microchips',
       'steel/banking', 'biotech', 'staffing company', 'shoes',
       'steel/oil', 'soft drinks', 'cotton yarn', 'commodities trading',
       'oil field services', 'cable', 'shale', 'telecom', 'stock broker',
       'computer parts', 'real estate, retail', 'trucking', 'banannas',
       'roofing', 'oil/telecommunications', 'catering', 'vacuum cleaners',
       'finace', 'auto sales, energy', 'confectionary', 'airline',
       'hospitality', 'gas and propane', 'palm oil/real estate',
       'heavy manufacturing', 'mobile phone batteries', 'paper',
       'port containers', 'banking/publishing',
       'investments/real estate, sports teams', 'internet provider',
       'copper/mining', 'tortillas', 'media, pipelines',
       'web broadcasting', 'cogeneration', 'internet company',
       'heavy equiptment (excavators, backhoes and tractors)', 'laptops',
       'food production', 'auto parts', 'outsourcing',
       'education, language schools', 'security ', 'sports retail',
       'biotech investing', 'express delivery services',
       'life insurance ', 'self-storage', 'dairy', 'investments',
       'new technology', 'service assurance instruments',
       'manufacturing, real estate, aviation', 'building materials',
       'wool', 'fertalizers', 'steel ', 'self storage', 'mining, banking',
       'drinks', 'grain', 'wind energy', 'security equipment',
       'telecom/investments', 'electronic componants', 'food products',
       'retail, home appliances', 'lumber, real estate', 'television',
       'electronic interconnectors', 'lawsuits',
       'internet service company', 'banking, oil, aluminum',
       'hair care products', 'life insurance',
       'beer and food distribution', 'telecom, oil, beer', 'security',
       'diapers', 'spirits', 'petrochemicals and textiles',
       'commercial pilot training', 'salsa', 'satallite communications',
       'risk management', 'supply chain', 'biopharmaceutical',
       'elevators, escalators, engineering', 'petroleum', 'drug stores',
       'security and surveillance technology', 'wine and spirits',
       'cloud computing', 'oil/investments', 'food and energy processess',
       'retail, financial services, real estate',
       'petrochemicals, textiles', 'sports', 'business centers',
       'networking equipment', 'mutual funds', 'consumer retail',
       'manufacturing (agriculture, steel, electronics)', 'animal feed',
       'pipelines', 'banking, real estate', 'natural flavors',
       'hospitality and food service', 'healthcare management',
       'rice trading, mining, infrastructure', 'dairy products',
       'restaurant', 'industrial software', 'seeds',
       'hair care products/tequila',
       'real estate, financial services and computers',
       'sports equipment', 'frozen foods', 'footwear',
       'metals and mining', 'kitchen appliances', 'paper products',
       'real estate (shopping malls)', 'energy (coal, oil and gas)',
       'hair care products ', 'shoe retail', 'iron and steel',
       'video technology', 'wireless products', 'fashion retail',
       'heating systems', 'internet companies', 'real estate and metals',
       'trading', 'music', 'fashion/oil', 'GPS technology', 'soy sauce',
       'gambling software', 'airport', 'mortgages', 'agriculteral',
       'IT Consulting', 'bicycles', 'beauty and health care products',
       'nutrition supplements', 'oil and natural gas', 'palm oil', 'port',
       'mortgage banking', 'aplliances', 'trucking and logistics',
       'domestic appliances', 'e-commerce, venture capital', 'paint',
       'oil services', 'bank', 'construction,banking', 'trucking ',
       'lumber', 'hair care', 'food retail', 'payroll processing ',
       'solar energy', 'oleochemicals and palm oil', 'animation',
       'food manufacturing', 'oil exploration equipment', 'fertilizers',
       'internet domain and web hosting', 'airports',
       'automotive components', 'invetsments', 'hotels and supermarkets',
       'logistics', 'ethanol', 'property, textile manufacturing',
       'beverages and food', 'processing machinary', 'leather',
       'banking and real estate', 'palm oil, mining', 'trade fairs',
       'flavorings', 'healthcare IT', 'education', 'apparel retail',
       'medical equipment', 'shipbuilding', 'art dealing', 'truck stops',
       'timber, plantations', 'printing', 'flooring',
       'architectural products', 'heavy equipment', 'air compressors',
       'gambing', 'cars, finance', 'sports team', 'food, entertainment',
       'bottled water', 'gas pipeline', 'commodities',
       'forestry and mining', 'investment mangagment', 'sewage treatment',
       'home building materials', 'social network', 'toll roads',
       'cleaning products', 'bridge to canada',
       'locomotive manufacturing', 'landscape architecture', 'truck stop',
       'electonics', 'insurancei, power', 'information services',
       'leveraged buyout', 'meat products', 'financial information',
       'telecom, finance', 'yogurt', 'auto repair', 'winter jackets',
       'mining, steel', 'antennas', 'mass transit', 'snack foods',
       'oil refining', 'home furnishings', 'auto components', 'cameras',
       'sewing machines', 'aigriculture', 'automotives', 'online gaming',
       'broadcasting', 'automobile dealers', 'power engineering',
       'sugar, flour, cement', 'braking systems', 'infrastructure',
       'auto glass', 'tire manufacturing', 'commodity trading',
       'automotive', 'laboratory services', 'iron', 'copper, poultry',
       'mettallurgy', 'diamond jewelry', 'measuring instruments',
       'motorcycles', 'wrestling promotion', 'ports, gas',
       'gas, petrochemicals', 'boats', 'industrial equipment',
       'port logistics', 'watch retail', 'polymers', 'pipes',
       'laundry soap', 'elevators', 'plastic', 'meat processing',
       'mining, investments', 'tractors', 'oilfield equipment',
       'infant formula', 'dental implants', 'milk', 'eyeglasses',
       'cranes', 'electonics components', 'linear actuators',
       'sportswear', 'auto retail', 'relocation services', 'engineering',
       'hostile takeovers', 'film', 'jewelry', 'food sweeteners'],
      dtype=object)

In [7]:
billionaires["wealth.how.inherited"].unique() # How was the wealth inherited

array(['not inherited', '3rd generation', 'father', 'spouse/widow',
       '5th generation or longer', '4th generation'], dtype=object)

In [8]:
billionaires["wealth.type"].unique()  # What was the type of the wealth inherited

array(['founder non-finance', 'privatized and resources', 'inherited',
       'self-made finance', 'executive', nan], dtype=object)

In [9]:
billionaires["location.region"].unique() # Count of the unique company sectors are there in the dataset

array(['North America', 'Latin America', 'Europe', 'East Asia',
       'Middle East/North Africa', 'Sub-Saharan Africa', 'South Asia',
       '0'], dtype=object)

In [10]:
billionaires.dtypes # gives the data type of all the columns in the dataset

name                         object
rank                          int64
year                          int64
company.founded               int64
company.name                 object
company.relationship         object
company.sector               object
company.type                 object
demographics.age              int64
demographics.gender          object
location.citizenship         object
location.country code        object
location.gdp                float64
location.region              object
wealth.type                  object
wealth.worth in billions    float64
wealth.how.category          object
wealth.how.from emerging       bool
wealth.how.industry          object
wealth.how.inherited         object
wealth.how.was founder         bool
wealth.how.was political       bool
dtype: object

In [11]:
billionaires['location.country code'].tail() # Display rows of the dataset

2609    Taiwan
2610       CHN
2611       CHN
2612       CZE
2613       CHN
Name: location.country code, dtype: object

In [12]:
billionaires["location.citizenship"].unique() # for the geographical mapping

array(['United States', 'Mexico', 'Switzerland', 'Spain', 'Hong Kong',
       'Taiwan', 'Germany', 'Saudi Arabia', 'Japan', 'Sweden', 'France',
       'Canada', 'Philippines', 'Indonesia', 'South Korea', 'Malaysia',
       'Italy', 'Singapore', 'Nigeria', 'Brazil', 'Russia', 'India',
       'United Kingdom', 'Australia', 'Thailand', 'Kuwait', 'Turkey',
       'Chile', 'Netherlands', 'Venezuela', 'China', 'Argentina',
       'Greece', 'Colombia', 'Cyprus', 'South Africa', 'Ireland',
       'Ukraine', 'Czech Republic', 'Israel', 'Denmark', 'Lebanon',
       'Austria', 'New Zealand', 'Egypt', 'Bermuda', 'Portugal',
       'United Arab Emirates', 'Liechtenstein', 'Georgia', 'Norway',
       'Belgium', 'Ecuador', 'Bahrain', 'Peru', 'Angola', 'Swaziland',
       'Poland', 'Finland', 'Algeria', 'Morocco', 'Guernsey',
       'Kazakhstan', 'Macau', 'Monaco', 'Vietnam', 'Romania',
       'St. Kitts and Nevis', 'Oman', 'Nepal', 'Uganda', 'Lithuania',
       'Tanzania'], dtype=object)

##### The dashboard designed will help us in identifying the following things from the dataset:
* The number of Billionan the world
* Which country has the most number of billionares
* Which country has seen the fastest growth billionares in the world
* Total new woth of the billionares in the economies (already established and advanced)
* From which sector these ecenomies have derived their wealth from
* Which age group do the maximum number of billionares lie in ?
* How many number of billionares are male and female and is their wealth is inherited or self made?

#### In addition to this dataset I have identified another datset of the same nature whoch can add another dimension to this analysis
* The forbes billionare dataset 'https://www.forbes.com/real-time-billionaires/#5e6139b83d78
* This datset gives the list of curent billionares as of 2020. IT gives there real time worth and net chage in the current market. This data needs to be scraped from the website or requested and this can help us to identify that with current condition of the market how has thier new worth been affected.

#### Lets rename the column in the dataframe to our convineance

In [13]:
billionaires.columns = ['Name','Rank','Year','Company_Founded','Company_Name','Company_Relationship', 
                        'Company_Sector','Company_Type','Demographics_Age', 'Demographics_Gender','Location_Citizenship',
                        'Location_Country Code','Location_Gdp','Location_Region','Wealth_Type','Wealth_Worth_In_Billions',
                        'Wealth_How_Category','Wealth_How_From_Emerging','Wealth_How_Industry','Wealth_How_Inherited', 
                        'Wealth_How_Was_Founder','Wealth_How_Was_Political']

In [51]:
temp_df=billionaires[["Year", "Rank", "Company_Sector"]]
billions_data=billionaires.sort_values(["Year","Rank"], ascending=[True, True])
for i in billions_data['Year'].unique():
    if i==1996:
        temp=pd.DataFrame(columns=["Year", "Rank", "Company_Sector"])
        temp_data=billions_data[billions_data['Year']==i][:10]
    #print(temp_data) # to Verify

### The columns in the dataset

In [15]:
billionaires.columns

Index(['Name', 'Rank', 'Year', 'Company_Founded', 'Company_Name',
       'Company_Relationship', 'Company_Sector', 'Company_Type',
       'Demographics_Age', 'Demographics_Gender', 'Location_Citizenship',
       'Location_Country Code', 'Location_Gdp', 'Location_Region',
       'Wealth_Type', 'Wealth_Worth_In_Billions', 'Wealth_How_Category',
       'Wealth_How_From_Emerging', 'Wealth_How_Industry',
       'Wealth_How_Inherited', 'Wealth_How_Was_Founder',
       'Wealth_How_Was_Political'],
      dtype='object')

In [16]:
#billionaires["Rank"].max()  ## To check the max age
billionaires["Rank"].min()  ## To check the max age

1

Lets replace the 0 age and the -ve age values with the mean value of the column.

In [17]:
billionaires['Demographics_Age']=billionaires.Demographics_Age.mask(billionaires.Demographics_Age == -42, 0)
billionaires['Demographics_Age']=billionaires.Demographics_Age.mask(billionaires.Demographics_Age == -7, 0)

In [18]:
mean_age = billionaires["Demographics_Age"].mean(skipna=True)
int(mean_age)

53

In [19]:
billionaires['Demographics_Age']=billionaires.Demographics_Age.mask(billionaires.Demographics_Age == 0,int(mean_age))

In [20]:
billionaires.loc[billionaires['Demographics_Age'] == 53].head(2)

,Name,Rank,Year,Company_Founded,Company_Name,Company_Relationship,Company_Sector,Company_Type,Demographics_Age,Demographics_Gender,...,Location_Gdp,Location_Region,Wealth_Type,Wealth_Worth_In_Billions,Wealth_How_Category,Wealth_How_From_Emerging,Wealth_How_Industry,Wealth_How_Inherited,Wealth_How_Was_Founder,Wealth_How_Was_Political
6,Oeri Hoffman and Sacher,3,1996,1896,F. Hoffmann-La Roche,NaN,pharmaceuticals,new,53,NaN,...,3.300000e+11,Europe,inherited,13.1,New Sectors,True,Technology-Medical,3rd generation,True,True
13,Theo and Karl Albrecht,5,2001,1913,Aldi,founder,groceries,new,53,male,...,1.950000e+12,Europe,founder non-finance,25.0,Non-Traded Sectors,True,"Retail, Restaurant",not inherited,True,True

In [21]:
billionaires.isna().sum()

Name                         0
Rank                         0
Year                         0
Company_Founded              0
Company_Name                38
Company_Relationship        46
Company_Sector              23
Company_Type                36
Demographics_Age             0
Demographics_Gender         34
Location_Citizenship         0
Location_Country Code        0
Location_Gdp                 0
Location_Region              0
Wealth_Type                 22
Wealth_Worth_In_Billions     0
Wealth_How_Category          1
Wealth_How_From_Emerging     0
Wealth_How_Industry          1
Wealth_How_Inherited         0
Wealth_How_Was_Founder       0
Wealth_How_Was_Political     0
dtype: int64

In [22]:
pd.set_option('display.max_columns', 30)
sample_test = billionaires[(billionaires['Year'] ==1996) & (billionaires['Company_Sector'] == "real estate")]
billionaires[billionaires['Location_Citizenship']=='United States']

,Name,Rank,Year,Company_Founded,Company_Name,Company_Relationship,Company_Sector,Company_Type,Demographics_Age,Demographics_Gender,Location_Citizenship,Location_Country Code,Location_Gdp,Location_Region,Wealth_Type,Wealth_Worth_In_Billions,Wealth_How_Category,Wealth_How_From_Emerging,Wealth_How_Industry,Wealth_How_Inherited,Wealth_How_Was_Founder,Wealth_How_Was_Political
0,Bill Gates,1,1996,1975,Microsoft,founder,Software,new,40,male,United States,USA,8.100000e+12,North America,founder non-finance,18.5,New Sectors,True,Technology-Computer,not inherited,True,True
1,Bill Gates,1,2001,1975,Microsoft,founder,Software,new,45,male,United States,USA,1.060000e+13,North America,founder non-finance,58.7,New Sectors,True,Technology-Computer,not inherited,True,True
2,Bill Gates,1,2014,1975,Microsoft,founder,Software,new,58,male,United States,USA,0.000000e+00,North America,founder non-finance,76.0,New Sectors,True,Technology-Computer,not inherited,True,True
3,Warren Buffett,2,1996,1962,Berkshire Hathaway,founder,Finance,new,65,male,United States,USA,8.100000e+12,North America,founder non-finance,15.0,Traded Sectors,True,Consumer,not inherited,True,True
4,Warren Buffett,2,2001,1962,Berkshire Hathaway,founder,Finance,new,70,male,United States,USA,1.060000e+13,North America,founder non-finance,32.3,Traded Sectors,True,Consumer,not inherited,True,True
7,Paul Allen,3,2001,1975,Microsoft,founder,technology,new,48,male,United States,USA,1.060000e+13,North America,founder non-finance,30.4,New Sectors,True,Technology-Computer,not inherited,True,True
10,Larry Ellison,4,2001,1977,Oracle,founder,software,new,56,male,United States,USA,1.060000e+13,North America,founder non-finance,26.0,New Sectors,True,Technology-Computer,not inherited,True,True
11,Warren Buffett,4,2014,1839,Berkshire Hathaway,founder,Finance,aquired,83,male,United States,USA,0.000000e+00,North America,founder non-finance,58.2,Traded Sectors,True,Consumer,not inherited,True,True
14,Larry Ellison,5,2014,1977,Oracle,founder,software,new,69,male,United States,USA,0.000000e+00,North America,founder non-finance,48.0,New Sectors,True,Technology-Computer,not inherited,True,True
17,Charles Koch,6,2014,1940,Koch industries,relation,Oil refining,new,78,male,United States,USA,0.000000e+00,North America,inherited,40.0,Financial,True,Diversified financial,father,True,True
18,David Koch,6,2014,1940,Koch industries,relation,Oil refining,new,73,male,United States,USA,0.000000e+00,North America,inherited,40.0,Financial,True,Diversified financial,father,True,True
20,Jim Walton,7,2001,1962,Walmart,relation,retail,new,53,male,United States,USA,1.060000e+13,North America,inherited,18.8,Non-Traded Sectors,True,"Retail, Restaurant",father,True,True
22,John Walton,8,2001,1962,Walmart,relation,retail,new,55,male,United States,USA,1.060000e+13,North America,inherited,18.7,Traded Sectors,True,Consumer,father,True,True
23,Sheldon Adelson,8,2014,1952,Las Vegas Sands,founder,casinos,acquired,80,male,United States,USA,0.000000e+00,North America,self-made finance,38.0,Financial,True,Real Estate,not inherited,True,True
25,S Robson Walton,9,2001,1962,Walmart,relation,retail,new,57,male,United States,USA,1.060000e+13,North America,inherited,18.6,Non-Traded Sectors,True,"Retail, Restaurant",father,True,True
26,Christy Walton,9,2014,1962,Walmart,relation,retail,new,59,female,United States,USA,0.000000e+00,North America,inherited,36.7,Non-Traded Sectors,True,"Retail, Restaurant",spouse/widow,True,True
28,Alice Walton,10,2001,1962,Walmart,relation,retail,new,52,female,United States,USA,1.060000e+13,North America,inherited,18.5,Non-Traded Sectors,True,"Retail, Restaurant",father,True,True
29,Helen Walton,10,2001,1962,Walmart,relation,retail,new,81,female,United States,USA,1.060000e+13,North America,inherited,18.5,Traded Sectors,True,Consumer,spouse/widow,True,True
30,Jim Walton,10,2014,1962,Walmart,relation,retail,new,66,male,United States,USA,0.000000e+00,North America,inherited,34.7,Non-Traded Sectors,True,"Retail, Restaurant",father,True,True
36,Paul Allen,13,1996,1975,Microsoft,founder,technology,new,43,male,United States,USA,8.100000e+12,North America,founder non-finance,7.5,New Sectors,True,Technology-Computer,not inherited,True,True
37,Steven Ballmer,13,2001,1975,Microsoft,CEO,technology,new,44,male,United States,USA,1.060000e+13,North America,executive,16.6,New Sectors,True,Technology-Computer,not inherited,True,True
38,Alice Walton,13,2014,1962,Walmart,relation,retail,new,64,female,United States,USA,0.000000e+00,North America,inherited,34.3,Non-Traded Sectors,True,"Retail, Restaurant",father,True,True
41,S. Robson Walton,14,2014,1962,Walmart,relation,retail,new,70,male,United States,USA,0.000000e+00,North America,inherited,34.2,Non-Traded Sectors,True,"Retail, Restaurant",father,True,True
42,John Kluge,15,1996,1956,Metropolitan Broadcasting Corporation,chairman,media,new,81,male,United States,USA,8.100000e+12,North America,executive,7.2,Non-Traded Sectors,True,Media,not inherited,True,True
46,Philip Anschutz,16,2001,1961,Circle A Drilling,investor,"oil, railroad, investments",aquired,61,male,United States,USA,1.060000e+13,North America,self-made finance,15.3,Financial,True,Money Management,not inherited,True,True
47,Michael Bloomberg,16,2014,1981,Bloomberg,founder,finance,new,72,male,United States,USA,0.000000e+00,North America,founder non-finance,33.0,Non-Traded Sectors,True,Media,not inherited,True,True
50,Larry Page,17,2014,1998,Google,founder,technology,new,40,male,United States,USA,0.000000e+00,North America,founder non-finance,32.3,New Sectors,True,Technology-Computer,not inherited,True,True
53,Sumner Redstone,18,2001,1936,National Amusements,relation,media,new,77,male,United States,USA,1.060000e+13,North America,inherited,12.6,Non-Traded Sectors,True,Media,father,True,True
54,Jeff Bezos,18,2014,1995,Amazon,founder,technology,new,50,male,United States,USA,0.000000e+00,North America,founder non-finance,32.0,Non-Traded Sectors,True,"Retail, Restaurant",not inherited,True,True
55,Larry Ellison,19,1996,1977,Oracle,founder,software,new,51,male,United States,USA,8.100000e+12,North America,founder non-finance,6.0,New Sectors,True,Technology-Computer,not inherited,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2477,Mark Pincus,1465,2014,2007,Zynga,founder,online gaming,new,48,male,United States,USA,0.000000e+00,North America,founder non-finance,1.1,New Sectors,True,Technology-Computer,not inherited,True,True
2478,Michael Steinhardt,1465,2014,1967,"Steinhardt, Fine, Berkowitz & Co",founder,hedge funds,new,73,male,United States,USA,0.000000e+00,North America,self-made finance,1.1,Financial,True,Money Management,not inherited,True,True
2488,Ray Irani,1465,2014,1920,Occidental Petroleum,former CEO,oil,new,79,male,United States,USA,0.000000e+00,North America,privatized and resources,1.1,Resource Related,True,Energy,not inherited,True,True
2489,Robert Citrone,1465,2014,1999,Discovery Capital Management,founder,hedge funds,new,49,male,United States,USA,0.000000e+00,North America,self-made finance,1.1,Financial,True,Hedge funds,not inherited,True,True
2491,Robert Piccinini,1465,2014,1952,Save Mart,relation,groceries,new,72,male,United States,USA,0.000000e+00,North America,inherited,1.1,Non-Traded Sectors,True,"Retail, Restaurant",father,True,True
2497,Stewart Horejsi,1465,2014,1962,Berkshire Hathaway,investor,finance,new,76,male,United States,USA,0.000000e+00,North America,executive,1.1,Traded Sectors,True,Consumer,not inherited,True,True
2500,Timothy Boyle,1465,2014,1938,Columbia Sportswear,relation,apparel,new,64,male,United States,USA,0.000000e+00,North America,inherited,1.1,Traded Sectors,True,Consumer,3rd generation,True,True
2511,Douglas Perkins,1540,2014,1984,Specsavers,founder,eyeglasses,new,53,male,United States,USA,0.000000e+00,North America,founder non-finance,1.1,Non-Traded Sectors,True,"Retail, Restaurant",not inherited,True,True
2521,Mary Perkins,1540,2014,1984,Specsavers,founder,eyeglasses,new,53,female,United States,USA,0.000000e+00,North America,founder non-finance,1.1,Non-Traded Sectors,True,"Retail, Restaurant",not inherited,True,True
2525,Sheryl Sandberg,1540,2014,2004,Facebook,COO,internet company,new,44,female,United States,USA,0.000000e+00,North America,executive,1.1,New Sectors,True,Technology-Computer,not inherited,True,True
2526,Sun Hongbin,1540,2014,1994,Sunac China Holdings,founder,real estate,new,51,male,United States,USA,0.000000e+00,North America,self-made finance,1.1,Financial,True,Real Estate,not inherited,True,True
2536,Andrea Reimann-Ciardelli,1565,2014,1923,Benckiser,relation,consumer goods,aquired,53,female,United States,USA,0.000000e+00,North America,inherited,1.0,Traded Sectors,True,Consumer,father,True,True
2543,Brian Higgins,1565,2014,1995,King Street Capital Management,founder,hedge funds,new,49,male,United States,USA,0.000000e+00,North America,self-made finance,1.0,Financial,True,Hedge funds,not inherited,True,True
2544,C. James Koch,1565,2014,1984,Boston Beer Company,founder,beer,new,64,male,United States,USA,0.000000e+00,North America,founder non-finance,1.0,Traded Sectors,True,Consumer,not inherited,True,True
2547,Christopher Burch,1565,2014,2004,Tory Burch LLC,founder,fashion,new,60,male,United States,USA,0.000000e+00,North America,founder non-finance,1.0,Traded Sectors,True,Consumer,not inherited,True,True
2556,Fred Chang,1565,2014,2001,Newegg.com,founder,e-commerce,new,57,male,United States,USA,0.000000e+00,North America,founder non-finance,1.0,Non-Traded Sectors,True,"Retail, Restaurant",not inherited,True,True
2565,Jim Thompson,1565,2014,1965,Crown Worldwide Group,founder,relocation services,new,74,male,United States,USA,0.000000e+00,North America,founder non-finance,1.0,0,True,Other,not inherited,True,True
2567,John Morgridge,1565,2014,1984,Cisco Systems,ceo,software,new,80,male,United States,USA,0.000000e+00,North America,executive,1.0,New Sectors,True,Technology-Computer,not inherited,True,True
2570,Kenneth Tuchman,1565,2014,1982,TeleTech,founder,software,new,54,male,United States,USA,0.000000e+00,North America,founder non-finance,1.0,Non-Traded Sectors,True,"Retail, Restaurant",not inherited,True,True
2572,Leon Charney,1565,2014,1980,One Times Square,investor,real estate,new,72,male,United States,USA,0.000000e+00,North America,self-made finance,1.0,Financial,True,Real Estate,not inherited,True,True
2573,Leonard Schleifer,1565,2014,1988,Regeneron Pharmaceuicals,founder,pharmaceuticals,new,61,male,United States,USA,0.000000e+00,North America,founder non-finance,1.0,New Sectors,True,Technology-Medical,not inherited,True,True
2579,Michael Kors,1565,2014,1981,Michael Kors,founder,retail,new,54,male,United States,USA,0.000000e+00,North America,founder non-finance,1.0,Non-Traded Sectors,True,"Retail, Restaurant",not inherited,True,True
2586,O. Francis Biondi,1565,2014,1995,King Street Capital Management,founder,hedge funds,new,49,male,United States,USA,0.000000e+00,North America,self-made finance,1.0,Financial,True,Hedge funds,not inherited,True,True
2588,Philip Falcone,1565,2014,2001,Harbinger Capital,founder,hedge funds,new,51,male,United States,USA,0.000000e+00,North America,self-made finance,1.0,Financial,True,Hedge funds,not inherited,True,True
2592,Ryan Kavanaugh,1565,2014,2004,Relativity Media,founder,film,new,39,male,United States,USA,0.000000e+00,North America,founder non-finance,1.0,Non-Traded Sectors,True,Media,not inherited,True,True
2593,Sara Blakely,1565,2014,2000,Spanx,founder,apparel,new,43,female,United States,USA,0.000000e+00,North America,founder non-finance,1.0,Traded Sectors,True,Consumer,not inherited,True,True
2601,Thomas Bailey,1565,2014,1969,Janus Capital Group,founder,mutual funds,new,77,male,United States,USA,0.000000e+00,North America,self-made finance,1.0,Financial,True,Money Management,not inherited,True,True
2602,Thomas Kaplan,1565,2014,1993,Apex Silver Mines,founder,metals,new,51,male,United States,USA,0.000000e+00,North America,self-made finance,1.0,Financial,True,Diversified financial,not inherited,True,True
2603,Tory Burch,1565,2014,2004,Tory Burch LLC,founder,fashion,new,47,female,United States,USA,0.000000e+00,North America,founder non-finance,1.0,Traded Sectors,True,Consumer,not inherited,True,True
2608,"William Moncrief, Jr.",1565,2014,1929,Moncrief Oil,relation,oil,new,93,male,United States,USA,0.000000e+00,North America,inherited,1.0,Resource Related,True,Energy,father,True,True

In [23]:
#billionaires.sort_values(["Year","Rank"], ascending=[True, True])

### Lets plot the Top Countries which had the maximum number of Billionares (based on each year the data was collected)

In [24]:
def categorical_var(x):
    year=x['Year'].unique() 
    return year

In [25]:
@ipywidgets.interact
# we have defined the widget values for X-axis and the Int Slider parameters in the function.      
        
def plot_histogram(x_axis=categorical_var(billionaires)):
    plt.figure(figsize=(18,10))  # size of the plot    
    norm = mpl_colors.Normalize()
    if x_axis == 1996:
        temp_data = billionaires[billionaires['Year']==1996]
        Bill_Country = temp_data.groupby('Location_Citizenship')[['Name']].count()
        #plot bar Graph
        Bill_Country.sort_values("Name", ascending = False).head(20).plot(kind= 'bar',figsize = (18,9), colors="violet")
        plt.xlabel('Top 20 Country - 1996',fontsize = 18)
        plt.ylabel('Count of Billionares',fontsize = 18)
        plt.title('Top Billionares Based on Country', fontsize = 22)
    elif x_axis == 2001:
        temp_data = billionaires[billionaires['Year']==2001]
        Bill_Country = temp_data.groupby('Location_Citizenship')[['Name']].count()
        #plot bar Graph
        Bill_Country.sort_values("Name", ascending = False).head(20).plot(kind= 'bar', figsize = (18,9), colors="teal")
        plt.xlabel('Top 20 Country - 2001',fontsize = 18)
        plt.ylabel('Count of Billionares',fontsize = 18)
        plt.title('Top Billionares Based on Country', fontsize = 22)
    elif x_axis == 2014:
        temp_data = billionaires[billionaires['Year']==2014]
        Bill_Country = temp_data.groupby('Location_Citizenship')[['Name']].count()
        #plot bar Graph
        Bill_Country.sort_values("Name", ascending = False).head(20).plot(kind= 'bar', figsize = (18,9), colors="crimson")
        plt.xlabel('Top 20 Country - 2014',fontsize = 18)
        plt.ylabel('Count of Billionares',fontsize = 18)
        plt.title('Top Billionares Based on Country', fontsize = 22)
        #print(temp_data)

interactive(children=(Dropdown(description='x_axis', options=(1996, 2001, 2014), value=1996), Output()), _dom_…

In [26]:
# Sample = billionaires.groupby(['Company_Sector'], as_index=False)['Rank'].count()
# Sample.head(20)

In [27]:
billionaires["Year"].unique()

array([1996, 2001, 2014], dtype=int64)

### Now we will plot the graphs for the Major Sectors which had the most number of Billionares (based on each year the data was collected)

In [28]:
@ipywidgets.interact
# we have defined the widget values for X-axis and the Int Slider parameters in the function.
def plot_histogram(x_axis=categorical_var(billionaires)):
    plt.figure(figsize=(18,10))  # size of the plot
    if x_axis == 1996:
        temp_data = billionaires[billionaires['Year']==1996]
        Bill_Country = temp_data.groupby('Company_Sector')[['Name']].count()
        Bill_Country.sort_values("Name", ascending = False).head(20).plot(kind= 'bar', figsize = (18,9),color = 'bbbbbcccccyyyyyrrrrr')
        plt.xlabel('Top 20 Sectors - 1996',fontsize = 18)
        plt.ylabel('Count of Billionares',fontsize = 18)
        plt.title('Sectors consisting of Maximum Billionares (Based on Year)', fontsize = 22)
    elif x_axis == 2001:
        temp_data = billionaires[billionaires['Year']==2001]
        Bill_Country = temp_data.groupby('Company_Sector')[['Name']].count()
        #plot bar Graph
        Bill_Country.sort_values("Name", ascending = False).head(20).plot(kind= 'bar', figsize = (18,9),color = 'bbbcccccyyyyyrrrrr')
        plt.xlabel('Top 20 Sectors - 2001',fontsize = 18)
        plt.ylabel('Count of Billionares',fontsize = 18)
        plt.title('Sectors consisting of Maximum Billionares (Based on Year)', fontsize = 22)
    elif x_axis == 2014:
        temp_data = billionaires[billionaires['Year']==2014]
        Bill_Country = temp_data.groupby('Company_Sector')[['Name']].count()
        #plot bar Graph
        Bill_Country.sort_values("Name", ascending = False).head(20).plot(kind= 'bar', figsize = (18,9),color = 'bbbbbcccccyyyyyrrrrr')
        plt.xlabel('Top 20 Sectors - 2014',fontsize = 18)
        plt.ylabel('Count of Billionares',fontsize = 18)
        plt.title('Sectors consisting of Maximum Billionares (Based on Year)', fontsize = 22)
        #print(temp_data)

interactive(children=(Dropdown(description='x_axis', options=(1996, 2001, 2014), value=1996), Output()), _dom_…

In [29]:
z = billionaires.groupby('Company_Name')['Wealth_Worth_In_Billions'].sum()
z["Walmart"]

271.2

### Now we will check the Age Range of Billionares based on Region for a particular year.

In [30]:
import plotly.express as px
data2001 = billionaires.query("Year == 2001").sort_values("Wealth_Worth_In_Billions", ascending = False)
data1996 = billionaires.query("Year == 1996").sort_values("Wealth_Worth_In_Billions", ascending = False)
data2014 = billionaires.query("Year == 2014").sort_values("Wealth_Worth_In_Billions", ascending = False)

In [31]:
@ipywidgets.interact
# we have defined the widget values for X-axis and the Int Slider parameters in the function.
def plot_histogram(x_axis=categorical_var(billionaires)):
    plt.figure(figsize=(18,10))  # size of the plot
    if x_axis == 1996:
        fig1 = px.scatter(data1996, x="Name", y="Demographics_Age", color= "Location_Region", hover_name="Location_Citizenship")
        fig1.update_layout(
            autosize=False,
            width=1000,
            height=700,
            title="Age Range of Billionares based on Region for the year 1996")
        fig1.show()
    elif x_axis == 2001:
        fig2 = px.scatter(data2001, x="Name", y="Demographics_Age", color= "Location_Region", hover_name="Location_Citizenship")
        fig2.update_layout(
            autosize=False,
            width=1000,
            height=700,
            title="Age Range of Billionares based on Region for the year 2001")
        fig2.show()
    elif x_axis == 2014:
        fig3 = px.scatter(data2014, x="Name", y="Demographics_Age", color= "Location_Region", hover_name="Location_Citizenship")
        fig3.update_layout(
            autosize=False,
            width=1000,
            height=700,
            title="Age Range of Billionares based on Region for the year 2014")
        fig3.show()

interactive(children=(Dropdown(description='x_axis', options=(1996, 2001, 2014), value=1996), Output()), _dom_…

## We will count the number of males and females billionares per year

In [32]:
gender1 = data1996.groupby("Demographics_Gender")["Rank"].count().reset_index()
gender1

  Demographics_Gender  Rank
0              female    31
1                male   357
2      married couple     1

In [33]:
gender2 = data2001.groupby("Demographics_Gender")["Rank"].count().reset_index()
gender2

  Demographics_Gender  Rank
0              female    38
1                male   498
2      married couple     2

In [34]:
gender3 = data2014.groupby("Demographics_Gender")["Rank"].count().reset_index()
gender3

  Demographics_Gender  Rank
0              female   180
1                male  1473

In [35]:
billionaires[billionaires["Demographics_Gender"]=="married couple"] # Where couple is billionare based on joint wealth

,Name,Rank,Year,Company_Founded,Company_Name,Company_Relationship,Company_Sector,Company_Type,Demographics_Age,Demographics_Gender,Location_Citizenship,Location_Country Code,Location_Gdp,Location_Region,Wealth_Type,Wealth_Worth_In_Billions,Wealth_How_Category,Wealth_How_From_Emerging,Wealth_How_Industry,Wealth_How_Inherited,Wealth_How_Was_Founder,Wealth_How_Was_Political
805,Willi and Isolde Liebherr,268,1996,1949,Liebherr,relation,construction,new,53,married couple,Switzerland,CHE,3.300000e+11,Europe,inherited,1.5,Non-Traded Sectors,True,Constrution,not inherited,True,True
1109,Willi and Isolde Liebherr,363,2001,1949,Liebherr,relation,construction,new,53,married couple,Switzerland,CHE,2.790000e+11,Europe,inherited,1.4,Non-Traded Sectors,True,Constrution,not inherited,True,True
1435,Jacob and Yehudith Richter,490,2001,1992,Medinol,founder,pharmaceuticals,new,53,married couple,Israel,ISR,1.300000e+11,Middle East/North Africa,founder non-finance,1.0,New Sectors,True,Technology-Medical,not inherited,True,True

In [36]:
@ipywidgets.interact
# we have defined the widget values for X-axis and the Int Slider parameters in the function.
def plot_histogram(x_axis=categorical_var(billionaires)):
    plt.figure(figsize=(18,10))  # size of the plot
    if x_axis == 1996:
        fig = px.bar(gender1, x='Demographics_Gender', y='Rank',
            labels={'Rank':'Count of Billionares'},title="Male, Female, and Married Couple count for Billionares in the year 1996", height=400)
        fig.show()
    elif x_axis == 2001:
        fig = px.bar(gender2, x='Demographics_Gender', y='Rank',
            labels={'Rank':'Count of Billionares'},title="Male, Female, and Married Couple count for Billionares in the year 2001", height=400)
        fig.show()
    elif x_axis == 2014:
        fig = px.bar(gender3, x='Demographics_Gender', y='Rank',
            labels={'Rank':'Count of Billionares'},title="Male, Female, and Married Couple count for Billionares in the year 2014", height=400)
        fig.show()

interactive(children=(Dropdown(description='x_axis', options=(1996, 2001, 2014), value=1996), Output()), _dom_…

In [37]:
import numpy as np
data2014 = data2014.replace(np.nan, '', regex=True) # Replace the nan values

In [38]:
#data2014.isnull().values.sum()

In [39]:
@ipywidgets.interact
def plot_histogram(x_axis=categorical_var(billionaires)):
    plt.figure(figsize=(18,10))  # size of the plot
    if x_axis == 1996:
        figa =  px.choropleth(data1996, locations="Location_Country Code", color="Location_Region", 
                              hover_data=["Name"], animation_frame="Wealth_How_Industry",
                              color_continuous_scale=px.colors.sequential.Plasma, projection="natural earth")
        figa.show()
    elif x_axis == 2001:
        figb = px.choropleth(data2001, locations="Location_Country Code", color="Location_Region", 
                             hover_data=["Name"],animation_frame="Wealth_How_Industry",
                             color_continuous_scale=px.colors.sequential.Plasma, projection="natural earth")
        figb.show()
    elif x_axis == 2014:
        figc = px.choropleth(data2014, locations="Location_Country Code", color="Location_Region", 
                             hover_data=["Name"],animation_frame="Wealth_How_Industry",
                             color_continuous_scale=px.colors.sequential.Plasma, projection="natural earth")
        figc.show()

interactive(children=(Dropdown(description='x_axis', options=(1996, 2001, 2014), value=1996), Output()), _dom_…

In [40]:
test_age = billionaires[(billionaires["Location_Citizenship"] == "Brazil") & (billionaires["Year"] ==2001)]
test_age["Demographics_Age"].mean()

61.333333333333336

In [41]:
sample_test = billionaires[(billionaires['Year'] ==1996) & (billionaires['Company_Sector'] == "real estate")]
billionaires[(billionaires["Location_Citizenship"] == "Brazil") & (billionaires["Company_Sector"] =="banking")].count()

Name                        17
Rank                        17
Year                        17
Company_Founded             17
Company_Name                17
Company_Relationship        17
Company_Sector              17
Company_Type                17
Demographics_Age            17
Demographics_Gender         17
Location_Citizenship        17
Location_Country Code       17
Location_Gdp                17
Location_Region             17
Wealth_Type                 17
Wealth_Worth_In_Billions    17
Wealth_How_Category         17
Wealth_How_From_Emerging    17
Wealth_How_Industry         17
Wealth_How_Inherited        17
Wealth_How_Was_Founder      17
Wealth_How_Was_Political    17
dtype: int64

In [42]:
temp_df=billionaires[['Location_Citizenship','Location_Country Code', 'Wealth_Worth_In_Billions', 'Demographics_Age']]
temp_df=temp_df.groupby(['Location_Citizenship', 'Location_Country Code'], as_index=False).agg({'Wealth_Worth_In_Billions':'sum', 'Demographics_Age':'mean'})
temp_df.columns=['Country','Country_code', 'Total_wealth', 'Mean_age']
temp_df["Mean_age"] = temp_df["Mean_age"].astype(int)
temp_df.head()

     Country Country_code  Total_wealth  Mean_age
0    Algeria          DZA           3.2        70
1     Angola          AGO           3.7        40
2  Argentina          ARG          23.3        60
3  Australia          AUS          93.2        67
4    Austria          AUT          33.8        72

In [43]:
temp_df[temp_df["Country"]=="United States"]

          Country Country_code  Total_wealth  Mean_age
72  United States          USA        3542.1        62

In [44]:
import plotly.graph_objects as go
for col in temp_df.columns:
    temp_df[col] = temp_df[col].astype(str)

temp_df['text'] = temp_df['Country'] + '<br>' + \
    'Total Wealth ' + temp_df["Total_wealth"] + '<br>' + \
    'Age ' + temp_df["Mean_age"]
fig = go.FigureWidget(data=go.Choropleth(
    locations=temp_df['Country_code'],
    z=temp_df['Total_wealth'],
    colorscale='teal',
    autocolorscale=False,
    text=temp_df['text'], # hover text
    marker_line_color='black', # line markers between states
    colorbar_title="Billions USD"
))

fig.update_layout(
    title_text='Wealth and Mean Age for a Country',
    geo = dict(
        projection=go.layout.geo.Projection(type = 'natural earth'),
        showlakes=True, # lakes
        lakecolor='rgb(255, 255, 255)'),
)

fig.show()

In [45]:
temp_data = billionaires
Bill_Country_Sector = temp_data.groupby(['Location_Citizenship',"Company_Sector"], as_index=False)["Name"].count()
Bill_Country_Sector.head(10)

  Location_Citizenship                                   Company_Sector  Name
0              Algeria  manufacturing (agriculture, steel, electronics)     1
1               Angola                              telecom/investments     1
2            Argentina                                         airports     1
3            Argentina                                        beverages     1
4            Argentina                                           cement     2
5            Argentina                                            media     1
6            Argentina                                              oil     4
7            Argentina                                  pharmaceuticals     1
8            Argentina                                            steel     2
9            Australia                                      agriculture     1

In [46]:

def sector_graph(col):
    plt.figure(figsize=(15,7))
    data = Bill_Country_Sector[Bill_Country_Sector['Location_Citizenship']==col]
    data=data.sort_values('Name', ascending=False)
    fig = px.bar(data, x = 'Company_Sector', y = 'Name',
                 hover_data = ['Location_Citizenship'], color='Company_Sector',
                 labels = {'Name':'Count of Billionares'},height=600, width=1000)
    fig.show()

In [47]:
sector_graph("Argentina")

Now let us define the index value for interactivity.

In [48]:
from ipywidgets import VBox, HBox, Output


for col in temp_df.columns:
    temp_df[col] = temp_df[col].astype(str)

temp_df['text'] = temp_df['Country'] + '<br>' + \
    'Total Wealth ' + temp_df["Total_wealth"] + '<br>' + \
    'Age ' + temp_df["Mean_age"]

#Country=Bill_Country_Sector['Location_Citizenship'].tolist()

text =temp_df['text'].tolist()

f = go.FigureWidget(go.Choropleth(
    locations=temp_df['Country_code'],
    z=temp_df['Total_wealth'],
    colorscale='Reds',
    autocolorscale=False,
    text=temp_df['text'], # hover text
    marker_line_color='white', # line markers between states
    colorbar_title="Billions USD"
))

f.update_layout(
    title_text='Total Wealth based on number of billionares in the specific Country',
    geo = dict(
        projection=go.layout.geo.Projection(type = 'natural earth'),
        showlakes=True, # lakes
        lakecolor='rgb(255, 255, 255)'),
)


trace=f.data[0]
#colorscale="Blues"
trace.colorscale='teal'
trace.hovertext=text
#print(trace)
out = Output()
@out.capture(clear_output=True)
def click_fn(trace, points, state):
    print(points.point_inds[0])
    #country=new_data.ix[x]['Country']
    
d=[]
index_value=d
trace.on_click(click_fn)

# def select_country(value):
#     for i in value:
#         country=new_data.ix[i]['Country']
#         print(country)
#         fig=line_graph(country)
#         return fig
    
# f2=select_country(country_index)

VBox([f, out])

VBox(children=(FigureWidget({
    'data': [{'autocolorscale': False,
              'colorbar': {'title': {'tex…

In [49]:
def select_index(value):
    for i in value:
        country=temp_df.ix[i]['Country']
        print("COIVD-19 data of "+country)
        sector_graph(country)
    
select_index(index_value)

In [50]:
from ipywidgets import VBox, HBox, Output


for col in temp_df.columns:
    temp_df[col] = temp_df[col].astype(str)

temp_df['text'] = temp_df['Country'] + '<br>' + \
    'Total Wealth ' + temp_df["Total_wealth"] + '<br>' + \
    'Age ' + temp_df["Mean_age"]

#Country=Bill_Country_Sector['Location_Citizenship'].tolist()

text =temp_df['text'].tolist()

f = go.FigureWidget(go.Choropleth(
    locations=temp_df['Country_code'],
    z=temp_df['Total_wealth'],
    colorscale='Teal',
    autocolorscale=False,
    text=temp_df['text'], 
    marker_line_color='black', 
    colorbar_title="Billions USD"
))

f.update_layout(
    title_text='Total Wealth based on number of billionares in the specific Country',
    geo = dict(
        projection=go.layout.geo.Projection(type = 'natural earth'),
        showlakes=True, # lakes
        lakecolor='rgb(255, 255, 255)'),
)


trace=f.data[0]
#colorscale="Blues"
trace.colorscale='teal'
trace.hovertext=text
#print(trace)
out = Output()
@out.capture(clear_output=True)


def click_fn(trace, points, state):
    country=temp_df.ix[points.point_inds[0]]['Country']
    
    fig=go.FigureWidget(sector_graph(country))
    #data = Bill_Country_Sector[Bill_Country_Sector['Location_Citizenship']==country]

    
    
trace.on_click(click_fn)

VBox([f, out])

VBox(children=(FigureWidget({
    'data': [{'autocolorscale': False,
              'colorbar': {'title': {'tex…